@import "tailwindcss";

body {
  @apply bg-[#F9FAFB] text-slate-900 antialiased;
}

/* Custom slider styling for that premium look */
input[type='range'] {
  @apply h-1.5 w-full cursor-pointer appearance-none rounded-lg bg-gray-200 accent-indigo-600;
}